<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTO Fix</title>
    <link rel="stylesheet" href={% static "css/base_style.css" %}>
    <style></style>
</head>
<body>
    <header>
        <ul class= "nav">
            <li class="logo">Moto fix</li>
            <li><a href={% url "index" %}>Home</a></li>
            <li><a href={% url 'models' %}>Models</a></li>
            <li><a href={% url 'services' %}>Services</a></li>
            <li><a href {% url "order_line" %}>Orders</a></li>
            <li class='spacer'></li>
            <li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li><a href= "{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                <li><a href= "{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href= "{% url 'login' %}">Login</a></li>
                {% endif %}
            </li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>☻☻☻ MOTO FIX ☻☻☻</p>
    </footer>
</body>
</html>